<div class="container">
    <p>
      <mat-toolbar color="primary">
        <span>Patient Management System</span>
      </mat-toolbar>
    </p>
    <div class="nav-link">
      <mat-toolbar>
        <span class="toolbar-flex"></span>
        <nav mat-tab-nav-bar>
          <a mat-tab-link *ngFor="let link of links"
            (click)="route(link)"
            [active]="activeLink == link">
              {{
                link === "requestlist" ? "Request List" :
                link === "registerpatient" ? "Register Patient" :
                link === "contact" ? "Contact IT":
                link.charAt(0).toUpperCase() + link.slice(1)}} </a>
        </nav>
        <span class="toolbar-flex"></span>
      </mat-toolbar>
    </div>
    <div class = "main-body">
      <router-outlet></router-outlet>
    </div>
  </div>