#btn-patients {
  display: flex;
  justify-content: space-around;
  margin: 5vh 0vh 1vh;
}

.btn {
  padding: 0.5rem 1rem;
}

#select-patient-wrapper {
  border: 0.2px solid rgb(100, 100, 100);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5vw 0.5vw;
  margin-top: 5vh;
}

.table {
  width: 100%;
  justify-content: space-between;
}

td {
  text-align: center;
}
