<div id="select-patient-wrapper">
  <div *ngIf="!selectedPatient">
    <h2>Sorry can't find the requested patient...</h2>
  </div>
  <div *ngIf="selectedPatient">
    <h2>Here are details of Patient {{ selectedPatient.id }}</h2>
    <div class="flex-container">
      <div class="container">
        <table class="table">
          <tbody>
            <tr><th>ID</th><td>{{ selectedPatient.id }}</td></tr>
            <tr><th>First Name</th><td>{{ selectedPatient.firstName }}</td></tr>
            <tr><th>Last Name</th><td>{{ selectedPatient.lastName }}</td></tr>
            <tr><th>Address</th><td>{{ selectedPatient.address }}</td></tr>
            <tr><th>Phone Number</th><td>{{ selectedPatient.phoneNumber }}</td></tr>
            <tr><th>Date of Birth</th><td>{{ selectedPatient.dateOfBirth }}</td></tr>
            <tr><th>Gender</th><td>{{ selectedPatient.gender }}</td></tr>
            <tr><th>Martial Status</th><td>{{ selectedPatient.martialStatus }}</td></tr>
            <tr><th>External Doctor ID</th><td>{{ selectedPatient.externalDoctorId }}</td></tr>
            <tr><th>Next of Kin</th><td>{{ selectedPatient.nextOfKin }}</td></tr>
          </tbody>
        </table>
      </div>
      <div class="btn-row" id="btn-patients">
        <button class="btn btn-primary" (click)="update()">Update</button>
        <button class="btn btn-primary" (click)="discharge()">Discharge</button>
        <button class="btn btn-primary" (click)="request()">
          Request Patient Admission
        </button>
        <button class="btn btn-primary" (click)="prescribe()">
          Prescribe Medication
        </button>
        <button class="btn btn-primary" (click)="showPrescription()">
          Show Prescriptions
        </button>
      </div>
    </div>
    
  </div>
</div>