<div style="margin-left: 15px;">
  <div>
    <h1>
      Divisions Page
    </h1>
    <mat-chip-list aria-label="Division selection">
      <mat-chip (click)="handleChipChangeFirstLevel('IntensiveCareDivision')" [selected]="isIntensiveCareDivisionSelected">Intensive Care Division</mat-chip>
      <mat-chip (click)="handleChipChangeFirstLevel('NonIntensiveCareDivision')" [selected]="isNonIntensiveCareDivisionSelected">Non-Intensive Care Division</mat-chip>
      <mat-chip (click)="handleChipChangeFirstLevel('SpecialityDivision')" [selected]="isSpecialityDivisionSelected">Speciality Division</mat-chip>
    </mat-chip-list>
  </div>
  <div>
    <mat-chip-list *ngIf="isIntensiveCareDivisionSelected">
      <mat-chip (click)="handleChipChangeSecondLevelIntensive('Neonatal')" [selected]="isNICUs">Neonatal (NICUs)</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelIntensive('Pediatric')" [selected]="isPICUs">Pediatric (PICUs)</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelIntensive('Coronary')" [selected]="isCCUs">Coronary & Cardiothoracic (CCUs/CTUs)</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelIntensive('Surgical')" [selected]="isSICUs">Surgical (SICUs)</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelIntensive('Medical')" [selected]="isMICUs">Medical (MICUs)</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelIntensive('Long')" [selected]="isLTAC">Long Term (LTAC ICUs)</mat-chip>
    </mat-chip-list>
    <mat-chip-list *ngIf="isNonIntensiveCareDivisionSelected">
      <mat-chip (click)="handleChipChangeSecondLevelNonIntensive('Neonatal')" [selected]="isNNICUs">Neonatal</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelNonIntensive('Women')" [selected]="isWomen">Women and infant</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelNonIntensive('Pediatric')" [selected]="isPNICUs">Pediatric</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelNonIntensive('Post-Critical')" [selected]="isPost">Post-Critical</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelNonIntensive('Oncology')" [selected]="isOncology">Oncology</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelNonIntensive('Surgical')" [selected]="isSNICUs">Surgical</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelNonIntensive('Medical')" [selected]="isMNICUs">Medical</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelNonIntensive('Rehabilitation')" [selected]="isRehabilitation">Rehabilitation</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelNonIntensive('Long')" [selected]="isNLTAC">Long Term</mat-chip>
    </mat-chip-list>
    <mat-chip-list *ngIf="isSpecialityDivisionSelected">
      <mat-chip (click)="handleChipChangeSecondLevelSpeciality('Burn')" [selected]="isSBurn">Burn</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelSpeciality('Oncology')" [selected]="isSOncology">Oncology</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelSpeciality('Trauma')" [selected]="isSTrauma">Trauma</mat-chip>
      <mat-chip (click)="handleChipChangeSecondLevelSpeciality('Neurological')" [selected]="isSNeurological">Neurological</mat-chip>
    </mat-chip-list>
  </div>
  <div style="margin-top: 15px;">
    <mat-form-field>
      <mat-label>Or Enter Division Id</mat-label>
      <input matInput type="number" [(ngModel)]="divisionIdValue">
      <button mat-button *ngIf="divisionIdValue" matSuffix mat-icon-button aria-label="Clear" (click)="divisionIdValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
  <h1 mat-h1>
    {{selectedHeaderDivision}}
  </h1>
  <mat-card style="width: 75%" *ngIf="selectedDivison">
      <mat-card-header>
        <mat-card-title>Division: {{selectedDivison}}</mat-card-title>
        <mat-card-subtitle>Division Id: {{divisionIdValue}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
