<div style="margin-left: 15px;">
  <div>
    <h1>
      Divisions Page
    </h1>
    <div>
      <mat-chip-list>
        <mat-chip *ngFor="let division of divisions" 
          (click)="handleSelectedDivision(division.id)" 
          [selected]="division.id === selectedDivison.id"
        >
          {{division.category}}
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list *ngIf="isDivisionSelected">
        <mat-chip *ngFor="let unit of selectedDivison.units; let i = index"
          (click)="handleSelectedUnit(selectedDivison.units[i])"
          [selected]="selectedDivison.units[i].id === selectedUnit.id"
        >
        {{selectedDivison.units[i].name}}
      </mat-chip>
      </mat-chip-list>
    </div>
    <div className="searchBox" style="margin-top: 15px;">
      <mat-form-field>
        <mat-label>Or Enter Division/Unit Id</mat-label>
        <input #divisionIdBox matInput type="text" pattern="\d*" maxlength="4" [(ngModel)]="divisionIdValue" (keyup)="findDivisionId(divisionIdBox.value)">
        <button mat-button *ngIf="divisionIdValue" matSuffix mat-icon-button aria-label="Clear" (click)="divisionIdValue=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error>
          Please enter only digits.
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="searchError">
        Invalid Id Entered.
      </mat-error>
    </div>
    <div *ngIf="selectedDivison">
      <mat-card style="width: 40%;">
        <h1 mat-h1>
          Category: {{selectedDivison.category}}
        </h1>
        <h3 mat-h3>
          Charge Nurse: {{selectedDivison.chargeNurse}}
        </h3>
        <h3 mat-h3>
          Charge Nurse Bipper Ext: {{selectedDivison.bipperExt}}
        </h3>
        <h3 mat-h3>
          Location: {{selectedDivison.location}}
        </h3>
        <h3 mat-h3>
          Telephone Extension: {{selectedDivison.telephoneExt}}
        </h3>
        <h3 mat-h3>
          Total Beds Available: {{selectedDivison.totalBeds}}
        </h3>
        <h3 mat-h3>
          Status: {{selectedDivison.status}}
        </h3>
      </mat-card>
      <div *ngIf="selectedUnit.name !== 'null'">
        <mat-card style="width: 75%" *ngIf="selectedDivison">
            <app-division></app-division>
        </mat-card>
      </div>
      <div *ngIf="selectedUnit.name === 'null' && selectedDivison.id !== 0">
        <mat-card style="width: 75%" *ngIf="selectedDivison">
            <h1 mat-h1>
              Please select or enter a unit
            </h1>
        </mat-card>
      </div>
    </div>
  </div>
</div>
