<div style="margin-left: 15px;">
  <div>
    <h1>
      Divisions Page
    </h1>
    <div>
      <mat-chip-list>
        <mat-chip *ngFor="let division of divisions" 
          (click)="handleSelectedDivision(division.category)" 
          [selected]="handleIsSelectedDivision(division.category)"
        >
          {{division.category}}
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list *ngIf="isDivisionSelected">
        <mat-chip *ngFor="let unit of selectedDivison.units; let i = index"
          (click)="handleSelectedUnit(selectedDivison.units[i])"
          [selected]="handleIsSelectedUnit(selectedDivison.units[i])"
        >
        {{selectedDivison.units[i].name}}
      </mat-chip>
      </mat-chip-list>
    </div>
    <div style="margin-top: 15px;">
      <mat-form-field>
        <mat-label>Or Enter Division Id</mat-label>
        <input matInput type="number" [(ngModel)]="divisionIdValue">
        <button mat-button *ngIf="divisionIdValue" matSuffix mat-icon-button aria-label="Clear" (click)="divisionIdValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div *ngIf="selectedDivison">
      <h1 mat-h1>
        {{selectedDivison.category}}
      </h1>
      <div *ngIf="selectedUnit">
        <mat-card style="width: 75%" *ngIf="selectedDivison">
          <mat-card-header>
            <mat-card-title>Unit: {{selectedUnit.name}}</mat-card-title>
            <mat-card-subtitle>Unit Id: {{divisionIdValue}}</mat-card-subtitle>
          </mat-card-header>
            <app-division></app-division>
        </mat-card>
      </div>
    </div>
  </div>
</div>
