<div>
  <mat-card-header>
    <mat-card-title>Unit: {{unit.name}}</mat-card-title>
    <mat-card-subtitle>Unit Id: {{unit.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/images/WardsOfHospital.png">
  <mat-card-content>
    <h1 class="mat-h1">
      Short Term Beds Available
    </h1>
    <body class="body-1">
      {{unit.numOfBedsShortTerm}}
    </body>
    <h1 class="mat-h1">
      Long Term Beds Available
    </h1>
    <body class="body-1">
      {{unit.numOfBedsLongTerm}}
    </body>
    <h1 class="mat-h1">
      Number of Patients in Unit
    </h1>
    <body class="body-1">
      {{unit.numOfPatients}}
    </body>
    <h1 class="mat-h1">
      Number of Staff Members in Unit
    </h1>
    <body class="body-1">
      {{unit.numOfStaffMembers}}
    </body>
    <h1 class="mat-h1">
      Max Patient Capacity
    </h1>
    <body class="body-1">
      {{unit.numOfPatients}}/{{unit.maxPatientCapacity}}
    </body>
  </mat-card-content>
</div>

