<div>
  <h1>List of Patients</h1>
  <div>
    <mat-form-field>
      <mat-label for="id">Search Patient Id</mat-label>
      <input matInput type="text" #patientQuery id="id" />
    </mat-form-field>
    <button class="search-btn" mat-raised-button color="primary" (click)="submit(patientQuery.value)">
        Search
    </button>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<table mat-table [dataSource]="patients" class="mat-elevation-z8 patient-table">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> <b>{{element.id}}</b> </td>
  </ng-container>

  <!-- first name Column -->
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <!-- last name Column -->
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <!-- phone number Column -->
  <ng-container matColumnDef="phonenumber">
    <th mat-header-cell *matHeaderCellDef> Phone Number </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>

  <!-- date of birth Column -->
  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
  </ng-container>

  <!-- gender Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <!-- martial status Column -->
  <ng-container matColumnDef="ms">
    <th mat-header-cell *matHeaderCellDef> Martial Status </th>
    <td mat-cell *matCellDef="let element"> {{element.maritalStatus}} </td>
  </ng-container>

  <!-- external doctor ID Column -->
  <ng-container matColumnDef="edId">
    <th mat-header-cell *matHeaderCellDef> External Doctor ID </th>
    <td mat-cell *matCellDef="let element"> {{element.externalDoctor}} </td>
  </ng-container>

  <!-- Next of Kin Column -->
  <ng-container matColumnDef="nok">
    <th mat-header-cell *matHeaderCellDef> Next of Kin </th>
    <td mat-cell *matCellDef="let element"> {{element.nextOfKin}} </td>
  </ng-container>

  <!-- Delete button Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn" name="delete" (click)="delete(element.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>