<div class="flex-container">
    <div class="search-wrapper">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
      <mat-form-field>
        <mat-label for="id">Search Patient Id</mat-label>
        <input matInput type="text" #patientQuery id="id" class="form-control" />
      </mat-form-field>
      <br/>
      <button class="search-btn" mat-raised-button color="primary" (click)="submit(patientQuery.value)">
          Search
      </button>
    </div>
    <!-- <div class="container">
      <router-outlet></router-outlet>
    </div> -->
  </div>
  <div id="all-patient-wrapper">
    <div *ngIf="patients">
      <h2>Here are details of all patients</h2>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Address</th>
              <th>Phone Number</th>
              <th>Date of Birth</th>
              <th>Gender</th>
              <th>Martial Status</th>
              <th>External Doctor ID</th>
              <th>Next of Kin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let datas of patients">
              <td>{{datas.id}}</td>
              <td>{{datas.firstName}}</td>
              <td>{{datas.lastName}}</td>
              <td>{{datas.address}}</td>
              <td>{{datas.phoneNumber}}</td>
              <td>{{datas.dateOfBirth}}</td>
              <td>{{datas.gender}}</td>
              <td>{{datas.martialStatus}}</td>
              <td>{{datas.externalDoctorId}}</td>
              <td>{{datas.nextOfKin}}</td>
              <td><button mat-raised-button color="warn" class="btn btn-danger" name="delete" (click)="delete(datas.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>